

/* Styles for the hero image */
.hero {
    /* Photo by mnm.all on Unsplash */
    background: url('https://images.unsplash.com/photo-1518176258769-f227c798150e') center;
    background-size: cover;
    padding: 4rem 2rem;
    /* grid styles */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
}

.hero > * {
    color: white;
}

.hero > h1 {
    font-size: 4rem;
    padding-bottom: 1rem;
}

.hero > article > p {
    font-size: 1.5rem;
    font-weight: 200;
}

.hero > article > a {
    padding: 1rem;
    margin-top: .75rem;
}



/* TITLE Y LINEA DE CATEGORIAS */
.title{
    margin-bottom: 1px;
    font-size: 14px;
    color: grey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.linea{
    width: 50%;
    border: 2px solid #162192;
    text-align: center;
    margin: auto;
}



  /* breweries styles */

.wrapper{
    display: block;
}



img:hover{
    filter: opacity(.5);
}



.breweries {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}



.breweries > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
}

.breweries > ul > li {
    list-style: none;
    border-radius: .5rem;
}

.breweries > ul > li > figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
}

.breweries > ul > li > figure > img {
    width: 100%;
}

.breweries > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
}

.breweries > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
}

.breweries > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
}

.breweries > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
}


#navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px; !important
    border: 1px solid transparent;
}

.base {
    min-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;


}
.wide {
  max-width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
