{% extends "layout/base.html" %}
{% block title %}
    <title>Aviso legal</title>
{% endblock %}

{% block main %}

<style>
  .main {
    width: 80%;
    margin: auto;
    font-family: dinpro;
    margin-top: -18px;
    margin-bottom: -10px;
    padding: 40px;
}
h1, h5{
text-align: center;
}
</style>
<div class="main">


<h1>Aviso Legal</h1>
<h3>Identificación y Titularidad</h3>
<p>En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico, el Titular expone sus datos identificativos.</p>

✓ Titular: TEC.
✓ Domicilio: Calle Navarra 25, MADRID - España.
✓ Correo electrónico: info@tec.es
  <br>

<h3>Finalidad</h3>
<P>La finalidad del sitio Web https://www.tec.es es productos tecnológicos .</P>

<h3>Condiciones de Uso</h3>
  <p>Si no estás conforme con todas y cada una de estas cláusulas y condiciones te abstendrás de utilizar este sitio Web.</p>

<p>El acceso a este sitio Web no supone, en modo alguno, el inicio de una relación comercial con TEC.</p>


<h3>Medidas de seguridad</h3>
<p>Los datos personales que facilites al Titular pueden ser almacenados en bases de datos automatizadas o no, cuya titularidad corresponde en exclusiva a TEC, que asume todas las medidas de índole técnica, organizativa y de seguridad que garantizan la confidencialidad, integridad y calidad de la información contenida en las mismas de acuerdo con lo establecido en la normativa vigente en protección de datos.</p>



<h3>Contenidos</h3>
<p>El Titular ha obtenido la información, el contenido multimedia y los materiales incluidos en el sitio Web de fuentes que considera fiables, pero, si bien ha tomado todas las medidas razonables para asegurar que la información contenida es correcta, el Titular no garantiza que sea exacta, completa o actualizada. TEC declina expresamente cualquier responsabilidad por error u omisión en la información contenida en las páginas de este sitio Web..</p>

<BR>
<h3>Jurisdicción</h3>
  <p>Este Aviso Legal se rige íntegramente por la legislación española.

<p>Siempre que no haya una norma que obligue a otra cosa, para cuantas cuestiones se susciten sobre la interpretación, aplicación y cumplimiento de este Aviso Legal, así como de las reclamaciones que puedan derivarse de su uso, las partes acuerdan someterse a los Jueces y Tribunales de la provincia de Málaga, con renuncia expresa de cualquier otra jurisdicción que pudiera corresponderles.</p>
</div>

{% endblock %}