{% extends "layout/base.html" %}

{% block title %}
    <title>Financiación</title>
{% endblock %}

{% block main %}

<style>
  .main {
    font-family: dinpro;
    background: #ffffff;
    margin-top: -18px;
    margin-bottom: -10px;
    padding: 40px;
}
h1, h5{
text-align: center;
}
</style>



<div class="main">
<h1>PROXIMAMENTE, habrá Forma de Financiación: </h1>
<hr>
<h3>Recibe Primero, Paga Despues - Sequra:</h3>
    <p>Te mandamos los productos y podrás pagar hasta 7 días después del envío. Con este sistema eliminamos cualquier desconfianza que puedas tener en nuestra tienda o en los productos que compras. Además no tienes que introducir datos de tu tarjeta. Tras ese periodo deberás abonar tu compra por transferencia bancaria, ingreso en cuenta o tarjeta.</p><br>

<p>Esta forma de pago está limitada a un máximo total de 400€.

Si tiene alguna duda con el pago, puede contactar con Sequra al 900 00 00 00.
</p>




</div>


{% endblock %}

