{% extends "layout/base.html" %}

{% block title %}
    <title>Garantias y devoluciones</title>
{% endblock %}

{% block main %}

    <style>
  .main {
    font-family: dinpro;
    background: #ffffff;
    margin-top: -18px;
    margin-bottom: -10px;
    padding: 40px;
}
h1, h3, h5{
text-align: center;
}




</style>


<div class="main">

<h1>Garantía y devoluciones:</h1>
<h3>¿Cómo realizo una devolución de un pedido en Ecommerce TEC?</h3>

<p>Si has realizado un pedido a través de nuestra página y quieres realizar devolución de uno o más productos, te facilitamos un tutorial paso a paso para que no tengas ninguna duda con el procedimiento.</p>

<p>Tienes un período de 30 días (a contar desde la recepción del producto) para cambiar de opinión y pedir su devolución en caso de una compra por Internet o por teléfono. Se trata del derecho de desistimiento. Si ejerces este derecho, InfoComputer te reembolsara la cantidad abonada por el producto. Si hay un problema con el producto, los costes de devolución correrán a nuestra cuenta. .</p>

<p>Si se trata de un cambio de opinión (no está satisfecho con el dispositivo recibido) los gastos de devolución correrán a tu cargo. Debes comunicar la solicitud de tu derecho de desistimiento dentro del período de 30 días, pasado este período la solicitud no podrá ser aceptada  (30 días para ejercer tu derecho de desistimiento y 30 días para devolver el producto por tu cuenta).</p>
    <p>Si no le convence lo devuelve y se le reintegra todo el dinero, así sin preguntar. InfoComputer protege siempre a sus clientes. Así que esto último le garantiza 100% la tranquilidad en su compra y puede probar el producto durante esos 30 días sin problema en su casa.</p>


<h1>¿Qué cubre la garantía?</h1>
<h3>¿Cómo realizo una devolución de un pedido en Ecommerce TEC?</h3>
<p>La garantía cubre la reparación de cualquier fallo de hardware (Placa base, memoria, tarjeta gráfica, fuente de alimentación, discos y lectores) a partir de la fecha de compra.</p>

<p>

- La garantía no cubre ningún tipo de fallo de software instalado en el equipo.<br>

- Los fallos producidos por maltrato del equipo.<br>

- Uso indebido del mismo.<br>

- Averías provocadas por subidas o bajadas de tensión.<br>

- Contraseñas en bios o actualizaciones de bios.<br>

- Overclock: Realizar overclock o modificar la configuración de fábrica de cualquiera de los componentes internos del ordenador, comporta la pérdida automática de la garantía.<br>

- El Cliente perderá el derecho a la garantía al quitar o manipular, sin autorización expresa de Infocomputer, cualquier precinto o adhesivo eventualmente colocados en los equipos o en cualquiera de sus componentes.<br>

- Quedará anulada automáticamente la garantía ante cualquier manipulación realizada por parte del personal ajeno a Infocomputer. Por esta razón, si desea realizar cualquier ampliación del ordenador, deberá comunicarlo y obtener la correspondiente autorización.<br>

- Los problemas de software, drivers, y/o virus no están incluidos en la garantía, por lo que el tiempo que se invierta en reparaciones de este tipo serán facturadas. Todo ordenador que sea depositado en el Servicio Técnico y que tras ser revisado no presente anomalía o defecto, generará la facturación del tiempo empleado en su revisión.<br>

- Quedan exentos de garantía todos los consumibles, batería de portátil, cargadores, fuentes de alimentación, tóner, fusor etc...ya que se considera un consumible que debe de ser sustituido con cierta periodicidad.<br>

- Es responsabilidad del cliente proteger la información contenida en los discos duros de los ordenadores, Infocomputer no se hace responsable de las pérdidas de información que se pudieran ocasionar. Para evitar daños es aconsejable realizar antes copias de seguridad.<br>

- El cliente dispondrá de 7 días hábiles para comprobar la integridad de todos los componentes del pedido, y para comprobar si le ha llegado todos los productos que había solicitado en dicho pedido. Pasados los 7 días se dará por aceptado el envío y no se aceptarán reclamaciones referentes a la calidad o cantidad de los artículos adquiridos.</p>
</div>

{% endblock %}