{% extends "layout/base.html" %}


{% block title %}
    <title>Política de Cookies</title>
{% endblock %}

{% block main %}

<style>
  .main {
    width: 80%;
    margin: auto;
    font-family: dinpro;
    margin-top: -18px;
    margin-bottom: -10px;
    padding: 40px;
}
h1, h5{
text-align: center;
}
</style>


<div class="main">

<h1>Política de Cookies:</h1>
    <h3>Su privacidad:</h3>


<p>Cuando visita cualquier sitio web, el mismo podría obtener o guardar información en su navegador, generalmente mediante el uso de cookies.
    Esta información puede ser acerca de usted, sus preferencias o su dispositivo, y se usa principalmente para que el sitio funcione según lo
    esperado. Por lo general, la información no lo identifica directamente, pero puede proporcionarle una experiencia web más personalizada.
    Ya que respetamos su derecho a la privacidad, usted puede escoger no permitirnos usar ciertas cookies. Haga clic en los encabezados de cada
    categoría para saber más y cambiar nuestras configuraciones predeterminadas</p><br>


    <h3>Cookies estrictamente necesarias:</h3>

<p>Estas cookies son necesarias para que el sitio web funcione y no se pueden desactivar en nuestros sistemas. Usualmente están
    configuradas para responder a acciones hechas por usted para recibir servicios, tales como ajustar sus preferencias de privacidad,
    iniciar sesión en el sitio, o llenar formularios. Usted puede configurar su navegador para bloquear o alertar la presencia de estas
    cookies, pero algunas partes del sitio web no funcionarán. Estas cookies no guardan ninguna información personal identificable.</p>

    <h3>Cookies de funcionalidad:</h3><br>

<p>Estas cookies permiten que el sitio ofrezca una mejor funcionalidad y personalización. Pueden ser establecidas por nosotros o por
    terceras partes cuyos servicios hemos agregado a nuestras páginas. Si no permite estas cookies algunos de nuestros servicios no
    funcionarán correctamente.</p><br>

    <h3>Cookies dirigidas:</h3>


    <p>Estas cookies pueden estar en todo el sitio web, colocadas por nuestros socios publicitarios. Estos negocios pueden utilizarlas
        para crear un perfil de sus intereses y mostrarle anuncios relevantes en otros sitios. No almacenan información personal directamente,
        sino que se basan en la identificación única de su navegador y dispositivo de acceso al Internet. Si no permite estas cookies, tendrá
        publicidad dirigida.</p><br>

    <h3>Cookies de redes sociales:</h3>
    <p>Estas cookies están configuradas por una serie de servicios de redes sociales que hemos agregado al sitio para permitirle compartir
        nuestro contenido con sus amigos y redes. Son capaces de hacerle seguimiento a su navegador a través de otros sitios y crear un perfil
        de sus intereses. Esto podrá modificar el contenido y los mensajes que encuentra en otras páginas web que visita. Si no permite estas
        cookies no podrá ver o usar estas herramientas para compartir.</p><br>

</div>
{% endblock %}