{% extends "layout/base.html" %}
{% block title %}
    <title>Política de privacidad</title>
{% endblock %}

{% block main %}


<style>
  .main {
    width: 80%;
    margin: auto;
    font-family: dinpro;
    margin-top: -18px;
    margin-bottom: -10px;
    padding: 40px;
}
h1, h5{
text-align: center;
}
</style>


<div class="main">

<h1>Nuestra politica de Privacidad</h1>
<h3>¿Cómo realizo una devolución de un pedido en Ecommerce TEC?</h3>

<p> ECOMMERCE TEC, S.A ( en adelante TEC), con domicilio social en Calle Navarra 25, Madrid-España. teléfono +34 600 000 000 y dirección de correo electrónico info@ecommerce.com,
    pone en conocimiento de los usuarios del Website www.tec.com su política de protección de datos de carácter personal,
    para que los usuarios determinen de forma informada si desean facilitar a TEC los datos personales que se les
    requieran en la cumplimentación de los formularios dispuestos en Sito Web.</p>

<h3>INFORMACIÓN Y CONSENTIMIENTO</h3>
<p>El Portal www.TEC.com no recoge ningún dato de carácter personal sin su conocimiento y consentimiento expreso, ni se ceden a terceros.
    Únicamente obtiene el número visitas y el volumen de tráfico existente con carácter estadístico y a fin de mejorar su accesibilidad.
Los formularios dispuestos en este Portal, recogen únicamente, los datos necesarios que permitan atender correctamente sus solicitudes.</p>

<p>La utilización de estos formularios, su cumplimentación y envío, es un acto voluntario e informado, por lo que se reconoce el consentimiento
    expreso e inequívoco al tratamiento de sus datos, por TEC, con la finalidad de gestionar eficientemente las solicitudes
    recibidas, e informarle de los servicios y actividades de TEC.</p>

<p>El usuario que facilite datos personales sobre terceros, deberá él mismo, informar al titular de los datos de este hecho, así como lo
    establecido en la presente Política de Privacidad. En este caso IBERICA INFOCOMPUTER declina toda responsabilidad, siendo única y
    exclusivamente del usuario cedente de los mismos.
</p>

    <p>Los datos recogidos en este Portal, se incorporarán en los tratamientos titularidad de TEC, y serán tratados de forma leal y lícita,
        acorde en todo momento a los principios y derechos recogidos en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo
        de 27 de abril de 2016, de Protección de Datos de Carácter Personal.

TEC, para una mejor atención al cliente, tiene delegados en distintas franjas horarias, los servicios de atención al cliente y control de
        calidad en terceros, que pueden no estar en la UE, garantizando en contrato de prestación de servicios, con cláusulas vinculantes,
        el cumplimiento del Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016, de Protección de Datos de
        Carácter Personal.

Se informa que pueden ejercitar sus derechos de acceso, rectificación, cancelación, limitación y oposición en TEC, S.A. , por electrónico a info@ecommerce.com, acreditando de forma inequívoca su identidad.</p>
</div>


{% endblock %}

