{% extends "layout/base.html" %}
{% block title %}
    <title>Quién somos</title>
{% endblock %}

{% block main %}

    <style>
  .main {
    width: 80%;
    margin: auto;
    font-family: dinpro;
    margin-top: -18px;
    margin-bottom: -10px;
    padding: 40px;
}
h1, h3, p{
text-align: center;
}
h4{
 text-align: center;
 color: #cf3aea;
}


</style>


<div class="main">

<h1>Equipo de trabajo:</h1>
<h3>Somos un equipo de estudiantes de programación, formado por expertos  programadores web y software.</h3><br>

  <h4>Nos apasiona nuestro trabajo.</h4>

<p>Nos formamos continuamente para poder estar a la última en las tendencias de programación que mejor funcionan.</p>

<p>Hemos creado este proyecto de una Ecommerce (TEC) de venta de ordenadores, smartphone y accesorios.</p><br>

  <h3>En este proyecto hemos trabajado un gran equipo:</h3>
    <h4>Mario, Leticia, Antonio, Emilio y Aroa.</H4>

<br><H3>Contáctanos. Puede ser el inicio de una bonita relación.</H3>
</div>
{% endblock %}